.flexContainer{
    border: 1px solid red;
    display: flex;
    height: 90vh;
    gap: 10px;
    /* flex-direction: row;  or column or row / column reverse */
    /* flex-direction: row;
    justify-content: center;
    align-items: center; */
    justify-content: flex-start;
    flex-wrap: wrap;
    /* align-content: center; */
}

.flexItem{
    background-color: yellow;
    border: 1px solid black;
    color: black;
    font-size: 20px;
    height: 60px;
    width: 120px;
}


/* Values of flex direction -- > row,column,row reverse,column reverse */

/* Values of align items  -- > center,flex-start,flex-end,base-line */

/* wrap values : nowrap,wrap,wrap-reverse */

.flexItem:nth-child(1){
    order: 1;
    align-self: flex-end;
}
.flexItem:nth-child(6){
    order: -1;
    align-self: center;
}