.grid{
    border: 1px solid red;
    height: 90vh;
    display: grid;
    /* grid-template-columns: 100px 200px 300px 400px; */
    /* grid-template-rows: 100px 100px; */
    /* grid-template-columns: 200px 200px 200px 200px; */
    /* grid-template-columns: repeat(4,200px); */

    grid-template-columns: repeat(4,100px);
    grid-template-rows: 100px 100px 100px 100px;

    /* row-gap: 10px; */
    /* column-gap: 10px; */

    /* gap: 10px;   */

    /* justify-content: center; */
    /* align-content: center; */


}

.item{
    color: darkred;
    border: 1px solid black;
    background-color: aqua;
    padding: 30px 40px;
}

/* .item:nth-child(1){
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 2;
    grid-row-end: 3;
} */
.item:nth-child(8){
    grid-column: 2/2;
    grid-row: 1/1;
}
