/* Universal Selector */
*{
    /* border: 1px solid red; */
}

/* tag selector */

h1{
    background-color: green;
}

/* id selector */

#a{
    color: red;
    background-color: yellow;
}
/* class selector */
.b{
    /* color: blue; */
    border: 10px solid;
}

/* Group Selector */
h1,h2,h3{
    color: black;
}

/* decendant selector */
div p{
    color: red;
    background-color: yellow;
}

/* child selector > */
div > p{
    color: black;
    background-color: blue;
}
/* Attribute selector */
button[type="submit"]{
    color: darkblue;
    font-size: 32px;
}
